@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-wall: rgba(15, 15, 15, 1);
}

@theme inline {
  --color-wall: rgba(72, 136, 210, 1);
  --color-foretext: rgba(10, 124, 255, 1);
  /* --color-bginput: rgba(10, 124, 255, 0.2); */
  --color-bginput: rgba(100, 100, 100, 0.3);
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffff;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
